<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="never">
<meta name="format-detection" content="telephone=no,date=no,address=no,email=no">
<meta name="x-apple-disable-message-reformatting">
<meta type="xrm/designer/setting" name="type" value="marketing-designer-content-editor-document">
<meta type="xrm/designer/setting" name="layout-editable" value="marketing-designer-layout-editable">
<meta type="xrm/designer/setting" name="layout-max-width" value="640px" datatype="text" label="Layout max width">
<meta type="xrm/designer/setting" name="font-family" value="Arial, Verdana, sans-serif" datatype="font" label="Font Family">
<meta type="xrm/designer/setting" name="body-text-size" value="15px" datatype="text" label="Body Font Size">
<meta type="xrm/designer/setting" name="body-text-color" value="#000" datatype="color" label="Body Text Color">
<meta type="xrm/designer/setting" name="outer-background" value="#f4f4f4" datatype="color" label="Email Background">
<!--[if mso]>
<noscript>
<xml>
<o:OfficeDocumentSettings>
<o:AllowPNG/>
<o:PixelsPerInch>96</o:PixelsPerInch>
</o:OfficeDocumentSettings>
</xml>
</noscript>
<![endif]-->
<style>
<!-- @include styles.css -->
<!-- @include footer-styles.css -->
<!-- @include module-styles.css -->
<!-- @include client-compat.css -->
</style>
