<div data-section="true" class="emptyContainer wrap-section accent-band" style="background-color:#ef7800;">
<table class="outer" align="center" cellpadding="0" cellspacing="0" width="640" style="width:100%;max-width:640px;background-color:#ef7800;" role="presentation"><tbody><tr>
<td class="section-pad-accent" style="padding:28px 32px;background-color:#ef7800;" role="presentation">
<table class="tbContainer multi" width="100%" cellpadding="0" cellspacing="0" role="presentation"><tr>
<td class="stack-column columnContainer" width="65%" valign="middle" style="vertical-align:middle;width:65%;padding-right:16px;">
<div data-editorblocktype="Text"><h1 style="color:#ffffff;margin:0 0 8px 0;">Ready to get started?</h1></div>
<div data-editorblocktype="Text"><p style="margin:0;"><span style="color:#ffffff;font-family:ARIALN,Arial,sans-serif;font-size:16px;">Add a CTA message alongside a button</span></p></div>
</td>
<td class="stack-column stack-column-gap mobile-center-on-stack columnContainer" width="35%" valign="middle" align="right" style="vertical-align:middle;width:35%;text-align:right;">
<div data-editorblocktype="Button" class="buttonWrapper">
<!-- @include ../_partials/button-outline.html -->
</div>
</td>
</tr></table>
</td></tr></tbody></table>
</div>
