<div data-section="true" class="emptyContainer wrap-section">
<table class="outer" align="center" cellpadding="0" cellspacing="0" width="640" style="width:100%;max-width:640px;" role="presentation"><tbody><tr>
<td class="section-pad" style="padding:20px 24px;" role="presentation">
<table class="tbContainer multi" width="100%" cellpadding="0" cellspacing="0" role="presentation"><tr>
<td class="stack-column feature-stack-text columnContainer" width="58%" valign="middle" style="vertical-align:middle;width:58%;padding-right:16px;">
<div data-editorblocktype="Text"><h3>Feature title</h3></div>
<div data-editorblocktype="Text" style="margin:0 0 16px 0;"><p>Feature description with text on the left and image on the right. Ideal for product highlights.</p></div>
<div data-editorblocktype="Button" class="buttonWrapper"><!-- @include ../_partials/button-primary.html --></div>
</td>
<td class="stack-column stack-column-gap feature-stack-media columnContainer" width="42%" valign="middle" align="center" style="vertical-align:middle;width:42%;">
<div data-editorblocktype="Image"><div align="Center" class="imageWrapper"><img src="https://assets-eur.mkt.dynamics.com/efac8d96-204d-f011-8ee3-6045bd928f41/digitalassets/images/8a4796b7-109a-f011-b4cb-7c1e52725572?ts=638944025144813367" width="248" style="max-width:100%;width:100%;height:auto;display:block;" alt="Feature"></div></div>
</td>
</tr></table>
</td></tr></tbody></table>
</div>
