<div data-section="true" class="emptyContainer columns-equal-class wrap-section header-standard-section" style="margin:0;border-radius:0;">
<table class="outer" align="center" cellpadding="0" cellspacing="0" width="640" style="width:100%;max-width:640px;display:block;" role="presentation"><tbody><tr>
<th class="mobile-padding" style="padding:10px;font-weight:normal;" role="presentation">
<table style="width:100%;border-collapse:collapse;" class="containerWrapper tbContainer multi" cellpadding="0" cellspacing="0" role="presentation"><tbody><tr>
<th data-container="true" class="columnContainer stack-column col-pad-right header-logo-cell" data-container-width="50.00" style="vertical-align:middle;width:50%;font-weight:normal;" role="presentation">
<table width="100%" cellpadding="0" cellspacing="0" role="presentation"><tbody><tr>
<th class="inner mobile-center" style="padding:0;font-weight:normal;" role="presentation">
<div data-editorblocktype="Image" style="margin:10px 10px 10px 15px;"><div align="left" class="imageWrapper"><!-- @include ../_partials/logo-header.html --></div></div>
</th></tr></tbody></table>
</th>
<th data-container="true" class="columnContainer stack-column stack-column-gap col-pad-left header-tagline-cell" data-container-width="50.00" style="vertical-align:top;width:50%;text-align:right;font-weight:normal;" role="presentation" align="right" valign="top">
<table width="100%" cellpadding="0" cellspacing="0" role="presentation"><tbody><tr>
<th class="inner" align="right" style="padding:10px;text-align:right;font-weight:normal;" role="presentation">
<div data-editorblocktype="Text" align="right" style="margin:0 0 0 10px;text-align:right;width:100%;">
<p class="header-tagline" align="right" style="margin:0;text-align:right;width:100%;font-family:ARIALN,Arial,sans-serif;font-size:15px;line-height:1.4;"><span>Newsletter</span>&nbsp;<span style="color:#ef7800;">|</span>&nbsp;<span>Tagline here</span></p>
</div>
</th></tr></tbody></table>
</th>
</tr></tbody></table>
</th></tr></tbody></table>
</div>
