<div data-section="true" class="emptyContainer wrap-section header-standard-section">
<table class="outer" align="center" cellpadding="0" cellspacing="0" width="640" style="width:100%;max-width:640px;" role="presentation"><tbody><tr>
<td class="section-pad-tight" style="padding:16px 24px;" role="presentation">
<table class="header-layout-table" width="100%" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;border-collapse:collapse;"><tbody><tr>
<td class="header-logo-column header-logo-cell" width="50%" valign="middle" align="center" style="vertical-align:middle;width:50%;text-align:center;">
<div data-editorblocktype="Image" align="center" style="text-align:center;"><div align="center" class="imageWrapper header-logo-safe" style="background-color:#ffffff;display:inline-block;line-height:0;"><!-- @include ../_partials/logo-header.html --></div></div>
</td>
<td class="header-tagline-column header-tagline-cell" width="50%" valign="middle" align="right" style="vertical-align:middle;width:50%;text-align:right;">
<div data-editorblocktype="Text" align="right" style="text-align:right;width:100%;"><p class="header-tagline" align="right" style="margin:0;text-align:right;width:100%;font-family:ARIALN,Arial,sans-serif;font-size:15px;line-height:1.4;"><span>Newsletter</span>&nbsp;<span style="color:#ef7800;">|</span>&nbsp;<span>Tagline here</span></p></div>
</td>
</tr></tbody></table>
</td></tr></tbody></table>
</div>
