<div data-section="true" class="emptyContainer wrap-section section-heading-section">
<table class="outer" align="center" cellpadding="0" cellspacing="0" width="640" style="width:100%;max-width:640px;" role="presentation"><tbody><tr>
<td class="section-pad section-heading-cell" align="center" style="padding:24px 24px 8px 24px;text-align:center;width:100%;" role="presentation">
<center>
<table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" class="section-heading-center" role="presentation" style="margin:0 auto;width:100%;border-collapse:collapse;">
<tbody>
<tr>
<td align="center" style="text-align:center;padding:0;width:100%;">
<!-- @include ../_partials/divider-line.html -->
</td>
</tr>
<tr>
<td align="center" style="text-align:center;padding:0;width:100%;">
<div data-editorblocktype="Text"><h2 style="text-align:center;margin:0;width:100%;">Section heading</h2></div>
</td>
</tr>
</tbody>
</table>
</center>
</td></tr></tbody></table>
</div>
