<div data-section="true" class="emptyContainer wrap-section two-up-text-section">
<table class="outer" align="center" cellpadding="0" cellspacing="0" width="640" style="width:100%;max-width:640px;" role="presentation"><tbody><tr>
<td class="section-pad" style="padding:20px 24px;" role="presentation">
<table class="tbContainer multi" width="100%" cellpadding="0" cellspacing="0" role="presentation"><tr>
<td class="stack-column two-up-text-col columnContainer" width="50%" valign="top" align="left" style="vertical-align:top;width:50%;text-align:left;padding-right:10px;">
<div data-editorblocktype="Text" align="left" style="text-align:left;width:100%;"><h3 style="margin:0 0 8px 0;text-align:left;">Column one title</h3></div>
<div data-editorblocktype="Text" align="left" style="text-align:left;width:100%;"><p style="margin:0;line-height:1.6;text-align:left;">First column body copy. Use for side-by-side comparisons, dual messages, or paired highlights.</p></div>
</td>
<td class="stack-column stack-column-gap two-up-text-col columnContainer" width="50%" valign="top" align="left" style="vertical-align:top;width:50%;text-align:left;padding-left:10px;">
<div data-editorblocktype="Text" align="left" style="text-align:left;width:100%;"><h3 style="margin:0 0 8px 0;text-align:left;">Column two title</h3></div>
<div data-editorblocktype="Text" align="left" style="text-align:left;width:100%;"><p style="margin:0;line-height:1.6;text-align:left;">Second column body copy. Stacks below column one on mobile.</p></div>
</td>
</tr></table>
</td></tr></tbody></table>
</div>
