<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Promo Email</title>
<!-- @include ../components/_base/head.html -->
</head>
<body dir="ltr">
<!-- @include ../components/_base/body-open.html -->
<!-- @include ../components/blocks/header.html -->
<!-- @include ../components/blocks/hero.html -->
<!-- @include ../components/blocks/intro.html -->
<!-- @include ../components/blocks/body.html -->
<!-- @include ../components/blocks/cta.html -->
<!-- @include ../components/blocks/accent-band.html -->
<!-- @include ../components/blocks/divider.html -->
<!-- @include ../components/blocks/feature-block.html -->
<!-- @include ../components/blocks/footer.html -->
<!-- @include ../components/_base/body-close.html -->
</body>
</html>
